header {
    height: 100px;
    padding: 1px;
    background-color: rgb(162, 206, 162);
    text-align: center;
}

main {
    height: 750px;
    background-color: azure;
}

h2 {
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 7px;
    text-decoration: underline;
}

#navbar {
    margin-left: 12px;
    padding-top: 3px;
    padding-left: 15px;
    height: 60px;
    background-color: #0f1111;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

a {
    margin-right: 200px;
    text-decoration: none;
    color: white;
}

button {
    background-color: #f08804;
}

h5 {
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 5px;
    padding-left: 33px;
}

.sub_element {
    height: 70px;
    width: 70px;
    margin-left: 30px;
    padding: 25px;
    display: inline-block;
    background-image: url(images/demo.png);
    background-size: cover;

}

#light {
    background-color: black;
    margin-left: 270px;
    width: 145px;
    border: 3px solid brown;
    border-radius: 6%;
}

.lit {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
}

.lit_txt {
    padding-top: 35%;
    font-size: 130%;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}

#one {
    background-color: red;
}

#two {
    background-color: yellow;
}

#three {
    background-color: green;
}

footer {
    height: 90px;
    padding: 10px;
    background-color: rgb(160, 160, 160);
    text-align: center;
    font-weight: lighter;
}