header {
    height: 90px;
    padding: 1px;
    background-color: rgb(162, 206, 162);
    text-align: center;
}


/* main {
    height: 2600px;
    background-color: azure;
} */                                 /* if you uncomment footer, uncomment this also... */

pre {
    text-align: center;
    margin: 1px;
    font-weight: bold;
    text-decoration: underline;
}

div {
    height: 80px;
    width: 110px;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
}

#one {
    background-color: rgb(255, 91, 91);
    position: relative;               /* didn't remove from the flow */
    top: 5px;
    z-index: 1;                       /* due to higher z-index, box 1 always on top of box 4 */
}
#two {
    background-color: rgb(155, 155, 249);
    position: absolute;               /* remove from the flow. (mostly used for header and footer) */
    top: 80px;
    right: 0px;
    z-index: 1;                       /* due to higher z-index, box 2 always on top of box 3 */
}
#three {
    background-color: rgb(255, 195, 131);
    position: fixed;                  /* removed from the flow */
    top: 85px;
    right: 0px;
}
#four {
    background-color: rgb(244, 244, 42);
    position: sticky;                 /* didn't remove from the flow until, it reached its desired destination */
    top: 630px;
}


/* footer {
    height: 100px;
    padding: 1px;
    background-color: rgb(147, 147, 164);
    text-align: center;
    font-weight: lighter;
    
} */